.single-restaurant-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.online {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  border: thin solid 1px;
  background: green;
  align-self: flex-start;
}

.offline {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  border: thin solid 1px;
  background: red;
  align-self: flex-start;
}

.restaurant-name {
  margin-top: 10px;
  width: 70%;
}

.restaurant-item {
  width: 200px;
  height: 200px;
}

.online-restaurant {
  opacity: 1;
}

.offline-restaurant {
  opacity: 0.4;
}

.closed {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
