.single-restaurant-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.online {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  border: thin solid 1px;
  background: green;
}

.offline {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  border: thin solid 1px;
  background: red;
}

.restaurant-name {
  margin-top: 10px;
  width: 70%;
}

.restaurant-item{
  width: 200px;
}