.arrow-button-container {
  display: flex;
}

.arrow-button {
  width: 30px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-grids {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  column-gap: 40px;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.buttons-cover {
  display: flex;
  justify-content: flex-end;
}

.fields-cover {
  display: grid;
  grid-template-columns: 1200px;
  column-gap: 40px;
  row-gap: 20px;
}
