.arrow-button-container {
  display: flex;
  margin-left: 10px;
}

.arrow-button {
  height: 30px;
  width: 30px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid #cecece;
  background: white;
}

.arrow-button:hover {
  background-color: #009de0;
}

.all-restaurants {
  display: flex;
  column-gap: 40px;
}

.container {
  display: flex;
  justify-content: center;
  border: thin solid black;
  padding-bottom: 20px;
  margin: 15px;
  border-radius: 20px;
}

.all-restaurants-container {
  display: flex;
  justify-content: center;
}

.title-buttons-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-container {
  display: grid;
}

@media only screen and (max-width: 767) {
  .section-container {
    grid-template-columns: 400px;
  }
}

@media only screen and (min-width: 768) and (max-width: 1279) {
  .section-container {
    grid-template-columns: 1000px;
    column-gap: 20px;
  }
}

@media only screen and (min-width: 1280) {
  .section-container {
    grid-template-columns: 1200px;
    column-gap: 40px;
  }
}
